//margin padding
@use "_var.scss" as v;

body, .btn--pari{
    background-color: v.$bgcolor;
    color: v.$textcolor;
    font-family: v.$typo;
    font-weight: 300;
    font-size: 30px;
    margin: 0;
}
section{
    padding: 22.75px;
}
.tuto, .equipe, .pret{
    background-color: v.$bgcolor;

}
.btn{
    &--pari{
        width: 212px;
        height: 45px;
        background: linear-gradient(92.58deg, #2B66FF 0%, #C324FF 99.93%);
        box-shadow: 0px 3px 9px #C324FF;
        border-radius: 4px;
        border: none;
        align-self: center;
        margin: 22.75px 0;
    }
}
.video{ 
    position: fixed;
    top: 50%;
    left: 50%;
    max-height: 100vh;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: 100vh;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
    transition: 1s opacity;
    &--desk{
        display: none;
    }
}
.logo{
    max-width: 80%;
    align-self: center;
}
.pret,.equipe{
    display: flex;
    flex-direction: column;
}
.carte{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60vw;
    padding: 20px;
    border-top: 4px solid ;
    border-bottom:4px solid ;
    background-size:4px 100%;
    background-position:0 0, 100% 0;
    background-repeat:no-repeat;
    border-radius: 4px;
    transform: skew(-3deg,0deg);
    align-self: center;
    margin: 30px 0;
    &__el{
        &--img{
            width: inherit;
        }
    }
    &--org{
        border-top-color: #FF1B1B;
        border-bottom-color: #FFB914;
        background-image: 
        linear-gradient(#FF1B1B, #FFB914),
        linear-gradient(#FF1B1B, #FFB914);
        box-shadow:0px 3px 10px #FF1B1B;
    }
    &--bleu{
        border-top-color: #2B66FF;
        border-bottom-color: #C324FF;
        background-image: 
        linear-gradient(#2B66FF, #C324FF),
        linear-gradient(#2B66FF, #C324FF);
        box-shadow:0px 3px 10px #C324FF;
    }
    
}