//typo

@use "_var.scss" as v;

.alinea{
    display: block;
}
.title{
    &--princ{
        font-size: 62px;
        text-transform: uppercase;
        display: inline-block;
        position: relative;
        margin: 30px 0 15px 0;
        text-align: center;
        letter-spacing: 2px;
        &::before{
            content: "";
            position: absolute;
            display: block;
            width: 100%;
            height: 5px;
            background-image: v.$gradientb;
            box-shadow: 0px 4px 36px v.$blue;
            border-radius: 5px;
            top: -15px;
        }
    }
    &--second{
        font-size: 49px;
    }
    &--trois{
        font-size: 38px;
        position: relative;

        &::before{
            content: "1. ";
            background: -webkit-linear-gradient(90deg, #2B66FF 0%, #C324FF 100%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
        & .deux{
            &::before{
                background: -webkit-linear-gradient(90deg, #FF1B1B 0%, #FFB914 100%);
        
            }
        }
    }
    &--name{
        margin: 22.75px 0 0 0;
        font-size: 24px;
    }
}

.deux{
    &::before{
        content: "2. ";
    }
}
.trois{
    &::before{
        content: "3. ";
    }
}
.small{
    font-size: 19px;
    text-align: center;
}
.btn{
    &--pari{
        font-size: 24px;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 1px;
    }
}
.tuto{
    &__el{
        list-style: none;
        &--li{
            position: relative;
            &::before{
                content: "";
                position: absolute;
                display: block;
                width: 20px;
                height: 5px;
                background-image: v.$gradientr;
                box-shadow: 0px 4px 36px v.$blue;
                border-radius: 5px;
                left: -30px;
                top: 22px;
            }
        }
        &--blue{
            &::before{
                background-image: v.$gradientb;
            }
        }
    }
}