//typo

@use "_var.scss" as v;

.alinea{
    display: block;
}
.title{
    &--big{
        font-size: 62px;
        text-transform: uppercase;
        display: inline-block;
        position: relative;
        &::before{
            content: "";
            position: absolute;
            display: block;
            width: 110%;
            height: 5px;
            background-image: v.$gradientb;
            box-shadow: 0px 4px 36px v.$blue;
            border-radius: 5px;
        }
    }
    &--med{
        font-size: 38px;
        position: relative;
        &::before{
            content: "1. ";
            color: v.$gradientb;

        }
    }
}
.small{
    font-size: 19px;
    text-align: center;
}
.btn{
    &--pari{
        font-size: 24px;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 1px;
    }
}
.tuto{
    &__ul{
        list-style: none;
        }
    &__li{
        position: relative;
        &::before{
            content: "";
            position: absolute;
            display: block;
            width: 20px;
            height: 5px;
            background-image: v.$gradientr;
            box-shadow: 0px 4px 36px v.$blue;
            border-radius: 5px;
            left: -30px;
            top: 22px;
        }
        &--blue{
            &::before{
                background-image: v.$gradientb;
            }
        }
    }
}