$bgcolor: #292929;
$textcolor: #E5E5E5;
$gradientb : linear-gradient(90deg, #2B66FF 0%, #C324FF 100%);
$gradientr : linear-gradient(90deg, #FF1B1B 0%, #FFB914 100%);
$blue : #2b66ff;

$typo: 'Oswald', sans-serif;